body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5CA4A9;
}

#container {
    background: #E6EBE0;
    width: 50vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

h1{
    color: #5CA4A9;
    padding-bottom: 50px;
}

#ui {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.uicontainer {
    width: 33%;
    position: inherit;
}

.display {
    height: 250px;
    width: 100%;
    transition: .5s;
    
}

.noteImg {
    height: 100%;
    width: 100%;
}

.displayFs {
    height: 600px;
    width: 50vw;
    position: absolute;
    right: 0px;
    top: 0;
    transition: .5s;
    opacity: 100;
    z-index: .5;
}

.fa-times {
    position: absolute;
    top: 10px;
    right: 10px;
    color:#5CA4A9;
    margin: 0;
    font-size: 30px !important;
    opacity: 1;
    z-index: 5;
    transition: .5s;
    -webkit-transform: translateZ(0);
}
.deactivate {
    z-index: -1;
    opacity: 0;
}

.checkContainer {
    display: flex;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    
    gap: 15px;
    margin-left: 15px;
}

.check {
    width: 50px;
    height: 50px;
    color: #5CA4A9;
    display: flex;
    justify-content: center;
    align-items: center;
}



#buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.controls {
    height: 50px;
    width: 100px;
    background: #5CA4A9;
    color: #E6EBE0;
    border: none;
    border-radius: 10px;
    transition: .15s;
    margin: 5px;
}

.inactive {
    background: #E6EBE0;
    color: #5CA4A9;
    transition: .15s;
    border: 1px solid #5CA4A9;
}

#random:hover {
    background: #E6EBE0;
    color: #5CA4A9;
    transition: .15s;
    border: 1px solid #5CA4A9;
}