* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
}

#container {
    background: #dadada;
    width: 50vw;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px 10px 0 0;

}

h1{
    color: black;
    padding-bottom: 50px;
}

#ui {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.uicontainer {
    width: 33%;
    position: inherit;
}

.display {
    height: 250px;
    width: 100%;
    transition: .5s;
    position: relative;
    display: flex;
    
}

.noteImg {
    height: 100%;
    width: 100%;
}

.displayFs {
    height: 600px;
    /* width: 100%; */
    position: absolute;
    right: -23rem;
    top: -210px;
    transition: 1s ease;
    opacity: 100;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    transform: translateY(0);
}
.fa-times {
    position: absolute;
    top: -205px;
    right: -315px;
    color:#C40404;
    margin: 0;
    font-size: 30px !important;
    opacity: 1;
    z-index: 5;
    transition: 1s ease;
}
.deactivate {
    transform: translateY(-600px);
    z-index: -1;
    opacity: 0;
}

.checkContainer {
    display: flex;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    
    gap: 15px;
    margin-left: 15px;
}

.check {
    width: 50px;
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}



#buttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modeButtons {
    margin-bottom: 25px;
}

#fullscreen {
    width: 200px;
}
.controls {
    height: 50px;
    width: 100px;
    background: #f3f3f3;
    color: black;
    border: none;
    border-radius: 10px;
    transition: .15s;
    margin: 5px;
}

.active {
    background-color: #60E044;
    color: white;
}

.inactive {
    background: #f3f3f3;
    color: black;
    transition: .15s;
    border: none;
}

#studyDisplay {
    margin-top: 25px;
}

#random {
    position: absolute;
    top: 595px;
    width: 100%;
    border-radius: 0 0 10px 10px;
    background: #f3f3f3;
    border: 1px solid #dadada;
    border-top: none;
}

#random:hover {
    background: #dadada;
 
}